body {
    padding-top: 50px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/zion.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 100vh;
}

.headshot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

/* div {
    border: 2px solid red;
} */

.top-buffer {
    margin-top: 20px;
}
