body {
    padding-top: 50px;
}


/*-- Home Screen Jumbotron --*/

.jumbotron {
    background-image: url(../images/zion.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
    height: 95vh;
}

.jumbotrontext {
    background-color: grey;
    padding: 15px;
}

.vertical-center {
    display: flex;
}


/*-- Home Screen Jumbotron --*/

.headshot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.top-buffer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: black;
}

.aboutme {
    background-color: grey;
    color: white;
}

.aboutme-pic {
    border-radius: 100px;
    padding: 20px;
}

#projectheadline {
    background-color: red;
}

#vaultdiv {
    background-color: blue;
}

#expresserdiv {
    background-color: green;
}

.projectimages {
    margin: 1em;
    border: 2px solid red;
}
