@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%
}

* {
    font-family: "Lato", Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.375rem
}

h4 {
    font-size: 1.125rem
}

h5 {
    font-size: 1rem
}

h6 {
    font-size: 0.875rem
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8
}

.font-light {
    font-weight: 300
}

.font-regular {
    font-weight: 400
}

.font-heavy {
    font-weight: 700
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.justify {
    text-align: justify
}

.hidden-sm {
    display: none
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width: 33.75em) {
    .container {
        width: 80%
    }
}

@media only screen and (min-width: 60em) {
    .container {
        width: 75%;
        max-width: 60rem
    }
}

.row {
    position: relative;
    width: 100%
}

.row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem
}

.row::after {
    content: "";
    display: table;
    clear: both
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 96%
}

.col-1-sm {
    width: 4.33333%
}

.col-2-sm {
    width: 12.66667%
}

.col-3-sm {
    width: 21%
}

.col-4-sm {
    width: 29.33333%
}

.col-5-sm {
    width: 37.66667%
}

.col-6-sm {
    width: 46%
}

.col-7-sm {
    width: 54.33333%
}

.col-8-sm {
    width: 62.66667%
}

.col-9-sm {
    width: 71%
}

.col-10-sm {
    width: 79.33333%
}

.col-11-sm {
    width: 87.66667%
}

.col-12-sm {
    width: 96%
}

.portfoliothumbnail {
    width: 235px;
    height: 235px;
    border: 1px solid black;
}
.portfoliolink {
    padding: 20px;
}

@media only screen and (min-width: 45em) {
    .col-1 {
        width: 4.33333%
    }
    .col-2 {
        width: 12.66667%
    }
    .col-3 {
        width: 21%
    }
    .col-4 {
        width: 29.33333%
    }
    .col-5 {
        width: 37.66667%
    }
    .col-6 {
        width: 46%
    }
    .col-7 {
        width: 54.33333%
    }
    .col-8 {
        width: 62.66667%
    }
    .col-9 {
        width: 71%
    }
    .col-10 {
        width: 79.33333%
    }
    .col-11 {
        width: 87.66667%
    }
    .col-12 {
        width: 96%
    }
    .hidden-sm {
        display: block
    }
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
}

h1 {
    margin: 0rem 0;
    font-weight: 100
}

h4 {
    text-align: center;
    font-weight: 100;
    margin: 0
}

div.row {
    text-align: center;
    padding: 0;
    display: block;
    border-top: 1px solid lightgray;
    margin: 2rem auto;
    padding-top: 1rem;
    width: 19rem
}

div.row div.col-6-sm {
    display: inline-block;
    list-style-type: none;
    margin: 1rem 0
}

div.row div.col-6-sm a {
    text-decoration: none !important
}

div.row div.col-6-sm a i {
    font-size: 3rem !important;
    display: block
}

div.row div.col-6-sm a i.fa.fa-github {
    color: #24292e
}

div.row div.col-6-sm a i.fa.fa-linkedin {
    color: #0077B5
}

div.row div.col-6-sm a i.fa.fa-twitter {
    color: #1da1f2
}

div.row div.col-6-sm a i.fa.fa-file-text {
    color: #fff18f
}

div.row div.col-6-sm a i.fa.fa-medium {
    color: #E9F3EB
}

div.row div.col-6-sm a i.fa.fa-envelope {
    color: lightblue
}

div.row div.col-6-sm a span {
    font-size: 0.8em !important;
    display: block;
    margin-top: 0.2rem;
    font-weight: 100
}

div.row div.col-6-sm:nth-child(odd) {
    float: left
}

div.row div.col-6-sm:nth-child(even) {
    float: right
}

div.row:after {
    content: "";
    display: table;
    clear: both
}