body {
    padding-top: 50px;
}


/*-- Home Screen Jumbotron --*/

.jumbotron {
    background-image: url(../images/zion.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
    height: 95vh;
}

.jumbotrontext {
    background-color: grey;
    padding: 15px;
}

.vertical-center {
    display: flex;
}


/*-- Home Screen Jumbotron --*/

.headshot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.top-buffer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: black;
    padding-bottom: 50px;
    padding-top: 50px;
}

.aboutme {
    background-color: grey;
    color: white;
}

.aboutme-pic {
    border-radius: 100px;
    padding: 20px;
}

#projectheadline {
    background-color: white;
}

#vaultdiv {
    background-color: white;
    padding: 20px 20px 20px 20px;
    color: darkblue;
}

#expresserdiv {
    background-color: white;
    padding: 20px 20px 20px 20px;
    color: darkblue;
}

.projectimages {
    margin: 3em;
    border: 2px solid black;
    width: 35%;
    height: 35%;
    margin: auto auto;
}

.projectimages1 {
    margin: 3em;
    border: 2px solid black;
    width: 51%;
    height: 51%;
    margin: auto auto;
}

.round-corner {
    padding: .25em;
    background-color: #89B0D9;
    color: #000;
    border: 2px #002647 solid;
    border-radius: 50px;
}

.project-skills>li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1.5em;
    width: 20%;
}